{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="pb-5 pt-5">
        <div class="container">
            <h1>Medical Records</h1>
        </div>
    </section>
    <main class="col-xl-10 m-auto">
        <div class="row mb-2">
            <p>
                <strong>
                    Entries marked in red required attention.
                </strong>
            </p>
        </div>
        {% include 'record/medical_record_list.html' %}
    </main>
{% endblock %}