{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KwikMedical</title>

{#    <link rel="shortcut icon" href="{% static 'base/file/Userfy Logo.png' %}"/>#}

    <link href="{% static 'vendor/bootstrap-5.3.1/css/bootstrap.min.css' %}" rel="stylesheet"/>

</head>
<body>

{% include 'navbar.html' %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

<script type="text/javascript" src="{% static "vendor/bootstrap-5.3.1/js/bootstrap.min.js" %}"></script>

</body>
</html>